.response{
  .response-container {
    border: 1px solid #ccc;
    width: max-content;
    max-width: 80% !important;
    margin-left: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    
  }
  img{
    width: 50px;
  }
  .Assistant{
    top:80%;
    right: 8px;
  }
}
.message-sender{
  // max-width: 80% !important;
  .prompts{
    max-width: 80% !important;
    width: max-content;
    background-color: var(--main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
}
  
  .response-container h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .response-container ul {
    padding-left: 20px;
    margin-bottom: 20px;
    list-style-type: disc;
  }
  
  .response-container li {
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
  .response-container p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #555;
  }
  
  .response-container strong {
    font-weight: bold;
    color: #000;
  }
  .user{
    width: 50px;
  }
  .sender{
    top: 80%;
    left: 8px;
    text-align: center;
  }
  .left{
    position: fixed;
    top: 90%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    cursor: move;
    z-index: 999;
    span{
        cursor: pointer;
    }
    img{
      width: 60px;
    }
}
.right{
    width: 40%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    #card{
        #cardHeader{
            background-color: var(--main-color) !important;
            text-align: center;
            h3{
                padding-block: 10px;
                font-size: 1.2rem;
                font-weight: 500;
                text-transform: capitalize;
                margin: 0;
                color: var(--magnolia);
            }
            i{
                right: 15px;
                font-size: 30px;
                top: 50%;
                transform: translateY(-50%);
                color: var(--magnolia);
                cursor: pointer;
            }
        }
        #cardBody{
            height: 85.5vh;
            overflow: auto;
        }
        #cardFooter{
            padding: 10px;
            background-color: var(--main-color) !important;
            
            button{
              color:white !important;
            }
        }
    }
    }

    @media screen and (max-width:768px) {
      .right{
        width: 100%;
      }
      #card{
        #cardBody{
          height: 84vh !important;
        }
      }
    }