.response-container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 80% !important;
    margin-left: auto;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;

  }
  .prompts{
    width: max-content;
    max-width: 80% !important;
  }
  .response-container h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .response-container ul {
    padding-left: 20px;
    margin-bottom: 20px;
    list-style-type: disc;
  }
  
  .response-container li {
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
  .response-container p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #555;
  }
  
  .response-container strong {
    font-weight: bold;
    color: #000;
  }

  .left{
    position: fixed;
    top: 90%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    cursor: move;
    z-index: 999;
    span{
        cursor: pointer;
    }
}
.right{
    width: 400px;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 999;
    transform: translateY(-50%);
    #card{
        #cardHeader{
            cursor: move;
            text-align: center;
            h3{
                padding-block: 10px;
                font-size: 1.2rem;
                font-weight: 500;
                text-transform: capitalize;
                margin: 0;
            }
            i{
                right: 15px;
                font-size: 30px;
                top: 50%;
                transform: translateY(-50%);
                color: #555;
                cursor: pointer;
            }
        }
        #cardBody{
            height: 350px;
            max-width: 400px;
            overflow: auto;
        }
        #cardFooter{
            padding: 10px;
        }
    }
    }