.btn-nav{
    position: relative;
            &::after{
                content: "";
                position: absolute;
                background-color: var(--main-color);
                height: 110%;
                width: 5px;
                left: 127%;
            }
            a{
                color: var(--main-color) !important;
            }
}
.side-nav{
    height: 88vh;
    border-top-right-radius:60px ;
    position: sticky;
    top: 88px;
    aside{
        position: sticky;
        top: 0;
        bottom: 0;
    }
    ul{
        li{
            a{
                font-size: 1.0625rem;
                transition: all .2s ease;
                cursor: pointer;
                &:hover{
                    color: var(--main-color) !important;
                }
            }
        }
    }
    .sign-out-icon{
        cursor: pointer;
    }
    .sideBar-icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        font-size: 25px;
        transition: all .2s ease;
        cursor: pointer;
        &:hover{
            color: var(--tomato);
        }
    }
}

@media screen and (max-width:768px) {
    .side-nav{
        display: none;
    }
}