<footer class="py-5 bg-body-tertiary">
    <div class="container ">
        <h2>Get The <span class="text-primary">Derma Center</span> App</h2>
        
        <p>we will send you a link , open it on your phone to download the app</p>
        <div class="container  w-90">
            <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-6">
                    <div class="form-floating">
                        <input class="form-control" type="text" placeholder="Email....">
                        <label for="">Email</label>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 text-center" >
                    <div class="buttons">
                        <button class="w-100 btn-second">Send App Link</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="store d-flex justify-content-between align-items-center mt-5">
                <p>You can download The app now</p>
                <div class="download-button d-flex  gap-3">
                    <button type="button"><img src="./assets/images/appstore.png" alt="">Download on the App Store</button>
                    <button type="button"><img src="./assets/images/play.png" alt="">Get it on Google Play</button>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="py-3 bg-dark">
    <div class="d-flex justify-content-center align-items-center">
        <p class="copyright m-0 text-white">© 2024 Breaking code. All rights reserved.</p>
        <a target="_blank" class="mx-2" ><i class="fa-brands fa-linkedin fa-2x text-white"></i></a>
        
    </div>
</footer>