<section class="main container py-5 ms-md-3">
    <div>
        <button *ngIf="patient" [routerLink]="['/records',patient.id]" type="button" class="btn btn-primary d-block ms-auto mb-3">Show Patient scan history</button>
        <div *ngIf="patient" class="row shadow p-2  rounded-2">
            <h3 class="title border-bottom text-center text-uppercase text-info pb-2">Patient Information</h3>
            <div class="col-md-6">
                <div>
                    <mat-form-field  appearance="outline" >
                        <mat-label>Patient Name</mat-label>
                        <input [value]="patient?.name" disabled placeholder="name" type="text" matInput >
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <mat-form-field  appearance="outline" >
                        <mat-label>Patient Email</mat-label>
                        <input [value]="patient?.email?patient?.email:'Not assigned yet' " disabled placeholder="email" type="text" matInput >
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <mat-form-field  appearance="outline" >
                        <mat-label>Patient BirthDate</mat-label>
                        <input [value]="patient?.date_of_birth" disabled placeholder="birth" type="text" matInput >
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <mat-form-field  appearance="outline" >
                        <mat-label>Patient Gender</mat-label>
                        <input [value]="patient?.gender" disabled placeholder="gender" type="text" matInput >
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <mat-form-field appearance="outline" >
                        <mat-label>Patient Phone</mat-label>
                        <input [value]="patient?.phone" disabled placeholder="phone" type="text" matInput >
                    </mat-form-field>
                </div>
            </div>
        </div>
        <!-- patient rates start -->
        <div *ngIf="patient" class="row shadow p-2  rounded-2 mt-4 ">
            <h3 class="title border-bottom text-center text-uppercase text-info pb-2">Patient rates</h3>
            <div>
                <button *ngIf="!showEdit" (click)="toggleEditButton()" class="btn btn-outline-success d-block ms-auto my-2">Edit Rates</button>
                <button *ngIf="showEdit" (click)="updatePatientRates()" class="btn btn-outline-dark d-block ms-auto my-2">Submit Editing</button>
            </div>
            <div class="col-md-6">
                <div>
                    <mat-form-field  appearance="outline">
                        <mat-label>Blood pressure</mat-label>
                        <input *ngIf="editRatesDisabled" placeholder="rate" [disabled]="editRatesDisabled" [value]="rates?.blood ? rates.blood : 'Not assigned' " type="text" matInput>
                        <input *ngIf="!editRatesDisabled" [(ngModel)]="bloodPressure" placeholder="rate" [disabled]="editRatesDisabled"  type="text" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <mat-form-field  appearance="outline">
                        <mat-label>Blood Sugar</mat-label>
                        <input *ngIf="editRatesDisabled"  placeholder="rate" [disabled]="editRatesDisabled" [value]="rates?.glucose ? rates.glucose : 'Not assigned' " type="text" matInput>
                        <input *ngIf="!editRatesDisabled" [(ngModel)]="SugarPressure" placeholder="rate" [disabled]="editRatesDisabled"  type="text" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <mat-form-field  appearance="outline">
                        <mat-label>Temprature</mat-label>
                        <input *ngIf="editRatesDisabled"  placeholder="rate" [disabled]="editRatesDisabled" [value]="rates?.Temperature ? rates.Temperature : 'Not assigned' " type="text" matInput>
                        <input *ngIf="!editRatesDisabled" [(ngModel)]="temprature" placeholder="rate" [disabled]="editRatesDisabled"  type="text" matInput>
                    </mat-form-field>
                </div>
            </div>
            
        </div>
    </div>
</section>
