input:disabled{
    color: black !important;
}
mat-label{
    color: var(--main-color) !important;
}
mat-form-field{
    width: 100%;
}
.info{
    position: relative;
    img{
        width: 40px;
        position: absolute;
        right: 20px;
        top: 10px;
    }
}
.rate{
    position: relative;
    img{
        width: 40px;
        position: absolute;
        right: 20px;
        top: 10px;
    }
}