
  .response-container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 80% !important;
    margin-left: auto;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;

  }
  .prompts{
    width: max-content;
    max-width: 80% !important;
  }
  .response-container h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .response-container ul {
    padding-left: 20px;
    margin-bottom: 20px;
    list-style-type: disc;
  }
  
  .response-container li {
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
  .response-container p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #555;
  }
  
  .response-container strong {
    font-weight: bold;
    color: #000;
  }

  .left{
      position: absolute;
      top: 90%;
      transform: translateY(-50%);
      right: 0;
      display: flex;
      cursor: move;
      z-index: 999;
      span{
          cursor: pointer;
      }
  }
  .right{
    width: 400px;
    // display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 999;
    transform: translateY(-50%);
    #card{
        #cardHeader{
            cursor: move;
            text-align: center;
            h3{
                padding-block: 10px;
                font-size: 1.2rem;
                font-weight: 500;
                text-transform: capitalize;
                margin: 0;
            }
            i{
                right: 15px;
                font-size: 30px;
                top: 50%;
                transform: translateY(-50%);
                color: #555;
                cursor: pointer;
            }
        }
        #cardBody{
            height: 350px;
            max-width: 400px;
            overflow: auto;
        }
        #cardFooter{
            padding: 10px;
        }
    }
}
.chat-ai{
    min-width: 400px;
    z-index: 9;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    .right{
        #card{
            #cardHeader{
                text-align: center;
                h3{
                    padding-block: 10px;
                    font-size: 1.2rem;
                    font-weight: 500;
                    text-transform: capitalize;
                    margin: 0;
                }
                i{
                    right: 15px;
                    font-size: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #555;
                    cursor: pointer;
                }
            }
            #cardBody{
                height: 350px;
                max-width: 400px;
                overflow: auto;
            }
            #cardFooter{
                padding: 10px;
            }
        }
    }
}
.details{
  .treatment{
    border: none;
    padding: 10px;
    background-color:var(--main-color);
    border-radius: 10px;
    margin-top: 10px;
    font-weight: 500;
    transition: all .2s linear;
    i{
      margin-left: 10px;
      transition: all .3s linear;

    }
    &:hover{
      background-color:#00a666;
      color: white;
      i{
        color: var(--bs-white) !important;
        transform: scale(1.2);
      }
    }
  }
}
.prediction{
  background-color: var(--second-color);
  font-size: 16px;
  color: white;
  img{
    width: 60px;
  }
  p{
    text-align: center;
    color: rgba($color: #fff, $alpha: .5);
  }
  h2{
    font-size: 1.4em;
    span{
      color: var(--tomato);
      font-weight: 1000;
      
    }
  }
  .treatment{
    border: none;
    padding: 10px;
    background-color:var(--main-color);
    border-radius: 10px;
    margin-top: 10px;
    font-weight: 500;
    transition: all .2s linear;
    i{
      margin-left: 10px;
      transition: all .3s linear;

    }
    &:hover{
      background-color:#00a666;
      color: white;
      i{
        color: var(--bs-white) !important;
        transform: scale(1.2);
      }
    }
  }
}


mat-form-field{
    border-color: red !important;
  mat-label{
      color: var(--main-color) !important;
  }
  input{
      &:disabled{
          color: black !important;
      }
  }
  textarea{
    resize: none;
    &:disabled{
      
      color: black !important;
  }
  }
}

@media screen and (max-width:768px) {
  .prediction{
    font-size: 12px;
  }
  .right{
    width: 360px !important;
  }
  .chat-ai{
    min-width: 380px !important;
    z-index: 99;
    #cardBody{
      max-width: 380px !important;
    }
  }
  .main{
    .content{
      width: 100% !important;
    }
  }
  .details-image{
    order: 0;
  }
  .details-content{
    order: 1;
  }
}
