<div class="main container ">
	<div class="shadow p-3">
		<div class="w-75 mx-auto">
			<form (ngSubmit)="sendImage()" [formGroup]="sendImageForm" action="">
				<div>
					<mat-form-field class="w-100">
						<mat-label>Select Patient</mat-label>
						<mat-select formControlName="id">
							<mat-option *ngFor="let patient of patients" [value]="patient.id">
								{{patient.name}}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="sendImageForm.get('id')?.errors?.['required']">
							patient selction is <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<div>
					<ngx-dropzone  class="w-100 m-auto" (change)="onSelect($event)">
					<ngx-dropzone-label>Drop your image here</ngx-dropzone-label>
					<ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
						<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
					</ngx-dropzone-preview>
					</ngx-dropzone>
					<div class="progress mt-3">
						<div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:percentage + '%'}">
							{{percentage}}%
						</div>
					</div>
				</div>
				<div>
					<button [disabled]="sendImageForm.invalid && files != []" class="btn btn-outline-primary mt-2 d-block mx-auto" type="submit" ><span *ngIf="!loadingFlag">Analyze Now</span> <span *ngIf="loadingFlag">Analyzing image <i  class="fa fa-spinner fa-spin"></i></span></button>
					<h2 *ngIf="prediction" class="text-center">Patient possible disease name is : <span class="text-primary">{{prediction}}</span></h2>
				</div>
			</form>
		</div>
	</div>
	
</div>
