
<section class="main">
    <div class="container">
        <div class="py-5 text">
            <div class="tagline">
                <span>welcome to Derma Center</span>
                <div class="py-4">
                    <h1>we are here for your care</h1>
                    <p class="mt-2 fs-5">A Great place to receive care accurate diagnoses and analysis of skin diseases, <br> Early diagnosis is now available</p>
                </div>
            </div>
            <div class="buttons mt-5">
                <button routerLink="/login" class="btn-main me-3">Join us</button>
                <button class="btn-second">Learn More</button>
            </div>
        </div>
    </div>
</section> 
<section class="about">
    <div class="container">
        <div class="row align-items-center gy-4">
            <div class="col-md-5">
                <div>
                    <img class="w-100" src="assets/images/about.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 py-3">
                <div #aboutcontent class="about-content" >
                    <div class="about-text" >
                        <h2>We Are <span class="my-logo">DERMA CENTER</span> A Medical Online Clinic</h2>
                        <p>Welcome to DermAssist, the premier online platform where medical professionals can leverage cutting-edge technology to diagnose skin diseases with greater accuracy and efficiency. Our website uses advanced image analysis tools developed through rigorous research and collaboration with dermatology experts.Trust Derma Center to enhance your diagnostic capabilities and improve patient outcomes.</p>
                    </div>
                    <div class="about-buttons">
                        <button type="button" class="btn-second">Make an appointment</button>
                        <button type="button" class="btn-main ms-4">Contact us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services">
    <div class="container">
        <div class="row align-items-center">
            <div  class="col-md-8 py-3">
                <div class="row">
                <h2 class="mb-5">Our Sercives</h2>
                    <div class="col-md-6">
                        <div class="d-flex gap-3 my-card">
                            <div class="icons">
                                <i class="fa-regular fa-image"></i>
                            </div>
                            <div class="my-card-text">
                                <h3>Image Analysis</h3>
                                <p>Utilize our state-of-the-art image processing algorithms to upload and analyze high-resolution images of skin conditions. Our technology provides quick, accurate preliminary assessments to support your diagnostic decisions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex gap-3 my-card">
                            <div class="icons">
                                <i class="fa-solid fa-disease"></i>
                            </div>
                            <div class="my-card-text">
                                <h3>Disease Prediction</h3>
                                <p>Benefit from our AI-driven predictive model that evaluates patient images against a vast database of dermatological cases to identify potential skin diseases with high accuracy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex gap-3 my-card">
                            <div class="icons">
                                <i class="fa-solid fa-file-shield"></i>
                            </div>
                            <div class="my-card-text">
                                <h3>Data Security and Compliance </h3>
                                <p>Rest assured knowing that patient data security and privacy are our top priorities. Our platform complies with HIPAA regulations, ensuring that all patient information is protected and confidential.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex gap-3 my-card">
                            <div class="icons">
                                <i class="fa-solid fa-globe"></i>
                            </div>
                            <div class="my-card-text">
                                <h3>24/7 Support </h3>
                                <p>Access our dedicated support team around the clock to assist with any questions or issues you may encounter, ensuring seamless operation at all times.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <form class="consult bg-white px-3">
                        <h3>FREE CONSULTATION</h3>
                        <div class="mb-3 consult-input">
                            <input type="text" placeholder="First Name" class="form-control rounded-5 py-3 fs-5">
                        </div>
                        <div class="mb-3 consult-input">
                            <input type="text" placeholder="Last Name" class="form-control rounded-5 py-3 fs-5">
                        </div>
                        <div class="mb-3 consult-input">
                            <select title="service"  class="form-control rounded-5 py-3 fs-5 ">
                                <option disabled selected value="">Select Your Services</option>
                                <option value="">Image Analysis</option>
                                <option value="">Disease Prediction</option>
                                <option value="">Security</option>
                                <option value="">Support</option>
                            </select>
                        </div>
                        <div class="mb-3 consult-input">
                            <input type="text" placeholder="Phone" class="form-control rounded-5 py-3 fs-5">
                        </div>
                        <div class="mb-3 consult-input">
                            <input type="text" placeholder="Date" class="form-control rounded-5 py-3 fs-5">
                            <i class="fa-solid fa-calendar-days"></i>
                        </div>
                        <div class="mb-3 consult-input">
                            <input type="text" placeholder="Time" class="form-control rounded-5 py-3 fs-5">
                            <i class="fa-regular fa-clock"></i>
                        </div>
                        <div class="mb-3 consult-input">
                            <input type="text" placeholder="Message" class="form-control rounded-5 py-3 fs-5">
                        </div>
                        <div class="mb-3 consult-input">
                            <button type="button" class="btn-main w-100">Appointment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero">
    <div class="text-center">
        <h2>Your Health is Our Priority</h2>
        <p class="my-4">We can manage your dream building A small river named Duden flows by their place</p>
        <button class="btn-second">Try Now</button>
    </div>
</section>
<section class="team">
    <div class="team-container">
        <div class="title">
            <h2>Our Qualified Team</h2>
            <p>We have made a lot of effort to develop this website so that it will be a refuge for doctors to quickly check up on the skin diseases of their patients.</p>
        </div>
        <div class="row  gy-4 mt-3 justify-content-center ">
            <div class="col-lg-4 teamcard1 col-md-6">
                <div>
                    <div class="team-card bg-white shadow rounded-2 p-3">
                        
                        <div class="team-card-header position-relative">
                            <img src="assets/images/Mohamed.jpg" class="w-100 rounded-top-2" alt="">
                            <div class="team-card-layer d-flex justify-content-center align-items-end">
                                <div class="team-icons py-2 bg-white w-100 text-center">
                                    <i class="fa-brands me-2 fa-twitter fa-xl"></i>
                                    <i class="fa-brands me-2 fa-facebook-f fa-xl"></i>
                                    <i class="fa-brands me-2 fa-google fa-xl"></i>
                                    <i class="fa-brands fa-instagram fa-xl"></i>
                                </div>
                            </div>
                        </div>
                        <div class="team-card-body my-2">
                            <h3>ENG/Mohamed Khalel</h3>
                            <span >Frontend Developer</span>
                            <p class="mt-2">I'm a junior Angular Front-end developer with a lot of skills </p>
                        </div>
                        <div class="team-card-footer">
                            <button class="d-block m-auto">Contact Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 teamcard2 col-md-6">
                <div>
                    <div class="team-card bg-white shadow rounded-2 p-3">
                        
                        <div class="team-card-header position-relative">
                            <img src="assets/images/shawky.jpg" class="w-100 rounded-top-2" alt="">
                            <div class="team-card-layer d-flex justify-content-center align-items-end">
                                <div class="team-icons py-2 bg-white w-100 text-center">
                                    <i class="fa-brands me-2 fa-twitter fa-xl"></i>
                                    <i class="fa-brands me-2 fa-facebook-f fa-xl"></i>
                                    <i class="fa-brands me-2 fa-google fa-xl"></i>
                                    <i class="fa-brands fa-instagram fa-xl"></i>
                                </div>
                            </div>
                        </div>
                        <div class="team-card-body my-2">
                            <h3>ENG/Ahmed Shawky</h3>
                            <span >Flutter Developer</span>
                            <p class="mt-2">I'm a junior Flutter developer with a lot of skills and experience</p>
                        </div>
                        <div class="team-card-footer">
                            <button class="d-block m-auto">Contact Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 teamcard3 col-md-6">
                <div>
                    <div class="team-card bg-white shadow rounded-2 p-3">
                        
                        <div class="team-card-header position-relative">
                            <img src="assets/images/hazem.jpg" class="w-100 rounded-top-2" alt="">
                            <div class="team-card-layer d-flex justify-content-center align-items-end">
                                <div class="team-icons py-2 bg-white w-100 text-center">
                                    <i class="fa-brands me-2 fa-twitter fa-xl"></i>
                                    <i class="fa-brands me-2 fa-facebook-f fa-xl"></i>
                                    <i class="fa-brands me-2 fa-google fa-xl"></i>
                                    <i class="fa-brands fa-instagram fa-xl"></i>
                                </div>
                            </div>
                        </div>
                        <div class="team-card-body my-2">
                            <h3>ENG/Hazem Kandeel</h3>
                            <span >Frontend Developer</span>
                            <p class="mt-2">I'm a junior Angular Front-end developer with a lot of skills </p>
                        </div>
                        <div class="team-card-footer">
                            <button class="d-block m-auto">Contact Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 teamcard4 col-md-6">
                <div>
                    <div class="team-card bg-white shadow rounded-2 p-3">
                        
                        <div class="team-card-header position-relative">
                            <img src="assets/images/agha.jpg" class="w-100 rounded-top-2" alt="">
                            <div class="team-card-layer d-flex justify-content-center align-items-end">
                                <div class="team-icons py-2 bg-white w-100 text-center">
                                    <i class="fa-brands me-2 fa-twitter fa-xl"></i>
                                    <i class="fa-brands me-2 fa-facebook-f fa-xl"></i>
                                    <i class="fa-brands me-2 fa-google fa-xl"></i>
                                    <i class="fa-brands fa-instagram fa-xl"></i>
                                </div>
                            </div>
                        </div>
                        <div class="team-card-body my-2">
                            <h3>ENG/Ahmed Agha</h3>
                            <span >UI/UX Designer</span>
                            <p class="mt-2">I'm a junior UI/UX Designer with a lot of skills </p>
                        </div>
                        <div class="team-card-footer">
                            <button class="d-block m-auto">Contact Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 teamcard5 col-md-6">
                <div>
                    <div class="team-card bg-white shadow rounded-2 p-3">
                        
                        <div class="team-card-header position-relative">
                            <img src="assets/images/abdo.jpg" class="w-100 rounded-top-2" alt="">
                            <div class="team-card-layer d-flex justify-content-center align-items-end">
                                <div class="team-icons py-2 bg-white w-100 text-center">
                                    <i class="fa-brands me-2 fa-twitter fa-xl"></i>
                                    <i class="fa-brands me-2 fa-facebook-f fa-xl"></i>
                                    <i class="fa-brands me-2 fa-google fa-xl"></i>
                                    <i class="fa-brands fa-instagram fa-xl"></i>
                                </div>
                            </div>
                        </div>
                        <div class="team-card-body my-2">
                            <h3>ENG/Abdelwahab Abdullah</h3>
                            <span >Backend Developer</span>
                            <p class="mt-2">I'm a junior Back-end developer with a lot of skills </p>
                        </div>
                        <div class="team-card-footer">
                            <button class="d-block m-auto">Contact Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonial">
    <div class="container">
        <div class="title">
            <span>Read testimonials</span>
            <h2 class="mt-3">Our Patients Says </h2>
        </div>
        <div class="patients position-relative mt-5">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active"  data-bs-interval="2000">
                    <div>
                        <div class="text-center">
                            <div class="testimonial-person">
                                <img src="assets/images/person_1.jpg"  alt="...">
                                <div class="test-icon">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                            </div>
                        </div>
                        <div class="text-center test-text">
                            <div class="opinion">
                                <p>I was amazed by the accuracy and speed of the AI diagnosis on this website. I uploaded a photo of a rash that had been bothering me for weeks, and within minutes, I had a detailed analysis and recommendations for treatment.</p>
                            </div>
                            <div class="patient-name">
                                <p>Mohamed khalel</p>
                                <span>Patient</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item " data-bs-interval="2000">
                    <div>
                        <div class="text-center">
                            <div class="testimonial-person">
                                <img src="assets/images/person_2.jpg"  alt="...">
                                <div class="test-icon">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                            </div>
                        </div>
                        <div class="text-center test-text">
                            <div class="opinion">
                                <p>As a dermatologist, I find this AI-powered diagnosis tool to be incredibly helpful in my practice. It serves as a reliable preliminary screening tool that can assist in identifying potential skin conditions quickly.</p>
                            </div>
                            <div class="patient-name">
                                <p>John Snow</p>
                                <span>Healthcare Professional</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item " data-bs-interval="2000">
                    <div>
                        <div class="text-center">
                            <div class="testimonial-person">
                                <img src="assets/images/person_3.jpg"  alt="...">
                                <div class="test-icon">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                            </div>
                        </div>
                        <div class="text-center test-text">
                            <div class="opinion">
                                <p>I've always been fascinated by the potential of AI in healthcare, and this website is a perfect example of its practical application. The user interface is intuitive, and the AI's ability to provide accurate diagnoses is impressive.</p>
                            </div>
                            <div class="patient-name">
                                <p>Hiezenberg</p>
                                <span>Tech Enthusiast</span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact">
    <div class="container">
            <div class="title">
                <h2>Contact Us</h2>
                <p>You can freely contact us in the event of a problem or malfunction in the site’s performance or your need for some services</p>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-lg-3 col-md-6">
                    <div class="contact-card d-flex flex-column gap-4 p-5 rounded-2 text-center">
                        <div class="contact-card-header">
                            <div class="contact-icon">
                                <i class="fa fa-map-signs"></i>
                            </div>
                        </div>
                        <div class="contact-card-body">
                            <h3>Address</h3>
                            <p>221b Baker St, London NW1 6XE, UK</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="contact-card d-flex flex-column gap-4 p-5 rounded-2 text-center">
                        <div class="contact-card-header">
                            <div class="contact-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <div class="contact-card-body ">
                            <h3>CONTACT NUMBER</h3>
                            <p>+20 01021025739</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="contact-card d-flex flex-column gap-4 p-5 rounded-2 text-center">
                        <div class="contact-card-header">
                            <div class="contact-icon">
                                <i class="fa fa-paper-plane"></i>
                            </div>
                        </div>
                        <div class="contact-card-body ">
                            <h3>Email Address</h3>
                            <p>breakingcode@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="contact-card d-flex flex-column gap-4 p-5 rounded-2 text-center">
                        <div class="contact-card-header">
                            <div class="contact-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                        </div>
                        <div class="contact-card-body">
                            <h3>Website</h3>
                            <p>www.breakingcode.com </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 align-items-center p-3 form-row rounded-2">
                <div class="col-md-6">
                    <div>
                        <div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13760.60892943406!2d31.571249350000002!3d30.43178615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1716139338188!5m2!1sen!2seg" class="w-100" height="550" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-form">
                        <form>
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" id="floatingInput" placeholder="enter your name">
                                <label for="floatingInput">Your Name</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="email" class="form-control" id="floatingEmail" placeholder="example@example.com">
                                <label for="floatingEmail">Email Address</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" id="floatingSubject" placeholder="subject">
                                <label for="floatingSubject">Subject</label>
                            </div>
                            <div class="form-floating mb-4">
                                <textarea  class="form-control"  placeholder=" " id="floatingTextarea"></textarea>
                                <label for="floatingTextarea">Messages</label>
                            </div>
                            <button type="button" class="btn-main d-block ms-auto">Send message</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</section>