<!-- <i (click)="goBack()" class="fa-solid fa-arrow-left"></i> -->
<div *ngIf="records;else msg" class="container my-4">
    <button (click)="open()" type="button" class="btn btn-primary d-block ms-auto">Add new record</button>
    <div class="row justify-content-center g-4 mt-2">
        <div class="col-md-5" *ngFor="let record of records;let i=index">
            <div class="shadow my-record p-3 rounded-2 border d-flex flex-column justify-content-between">
                <div class="position-relative mb-2">
                    <h2 class="text-center me-3 text-uppercase">{{record?.prediction?.split(' ')?.slice(0,2)?.join(' ')}}</h2>
                    <span class="rec-num p-2 rounded-3 position-absolute top-0 end-0">{{i+1}}</span>
                </div>
                <div>
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-7">
                            <div class="text-muted">
                                <h3>{{record?.prediction}}</h3>
                                <h3>{{record?.name}}</h3>
                                <h3>{{record?.id}}</h3>
                                <h3>{{record?.scannedAt | date}}</h3>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div>
                                <img class="w-100 rounded-2" height="150px" [src]="record?.url" alt="disease image">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-info d-block m-auto mt-4" (click)="selectImage(i)">Preview</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="previewFlag" (click)="previewFlag = false" class="image-preview position-fixed top-0 bottom-0 start-0 end-0 d-flex justify-content-center align-items-center">
    <div (click)="stop($event)"  class="disease-image position-relative">
        <img height="500" [src]="imageUrl" class="w-100" alt="">
        <div class="arrows" >
            <i (click)="moveLeft()" class="fa fa-arrow-left fa-2x text-white position-absolute top-50 translate-middle-y "></i>
            <i (click)="moveRight()" class="fa fa-arrow-right fa-2x text-white position-absolute top-50 translate-middle-y "></i>
        </div>
    </div>  
</div>
<ng-template #msg>
        <h2 class="text-center">There is no medical records yet..</h2>
        <h3 (click)="open()"  class="text-center text-info clickable">Click here to scan</h3>
</ng-template>

