    <div class="message z-3  position-fixed top-0 bottom-0 start-0 end-0 d-flex justify-content-center align-items-center">
        <div class="message-card d-flex flex-column">
          <div>
          </div>
          <div class="my-4 message-body">
            <img class="mb-3" src="assets/images/icon-success.svg" alt="">
            <h2>Thanks for Submitting!</h2>
            <p>A confirmation email has been sent to your email. 
              Please open it and click the link inside to confirm your verification.</p>
          </div>
          <div>
            <button routerLink="/login" id="succes-btn" class="w-100">Dismiss message</button>
          </div>
        </div>
      </div>