<section  class="main container d-none">
    <div class="card  w-50 mx-auto my-3">
        <div *ngIf="user" class="card-header">
            <div>
                <img class="d-block mx-auto rounded-circle" [src]="user?.photoURL" alt="User image">
            </div>
        </div>
        <div *ngIf="user" class="card-body">
            <h3>Name : {{user?.displayName}}</h3>
            <div class="d-flex justify-content-between align-items-center">
                <h3>Email : {{user?.email}}</h3>
                <i title="change email" class="fa fa-edit"></i>
            </div>
            <h3>Verified : {{user?.emailVerified ? "verified" : 'not verified '}}</h3>
            <!-- <h3>Phone Number : <span>{{user?.phoneNumber ? user.phoneNumber : 'Not assigned' }}</span></h3> -->
            
        </div>
        <div *ngIf="user" class="card-footer">
            <h3>created at :{{user?.metadata?.creationTime | date}} </h3>
            <h3>Last Sign in time :{{user?.metadata?.lastSignInTime | date}} </h3>
            <h3>User Id : {{user?.uid}}</h3>
        </div>
    </div>
</section>
<section *ngIf="false" class="edit-email position-fixed z-3 top-0 bottom-0 start-0 end-0 bg-danger d-flex justify-content-center align-items-center">
    <div class="form">
        <form action="">
            <div class="card shadow p-4">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]="email" name="email" type="text" matInput placeholder="enter email">
                </mat-form-field>
                <div>
                    <button>set</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="container w-75">
    <div class="row justify-content-between align-items-center shadow rounded-2">
        <div class="col-md-4">
            <div class="d-flex justify-content-between align-items-center profile-top p-3">
                <div>
                    <img class="d-block mx-auto rounded-circle" [src]="user?.photoURL" alt="User image">
                </div>
                <div>
                    <h3>{{user?.displayName}}</h3>
                    <span>{{user?.email}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="p-3" >
                <button class="btn btn-primary px-4 d-block ms-auto">Edit</button>
            </div>
        </div>
    </div>
</section>