@media screen and (max-width:768px) {
    .card{
        width: 100% !important;
    }
}
img{
    width: 100px;
}
i{
    cursor: pointer;
}
.profile-top{
    h3{
        font-size: 1.3125rem;
        font-weight: 500;
        text-transform: capitalize;
        margin: 0;
    }
    span{
        color: rgba($color: #000000, $alpha: .5);
    }
}
.profile-bottom{
    span{
        bottom: 100%;
        left: 0;
    }
    h3{
        color: var(--main-color);
        font-weight: 500;
        span{
            color: black;
            font-weight: lighter;

        }
    }
}
mat-form-field{
    
    mat-label{
        color: var(--main-color) !important;
    }
    input{
        &:disabled{
            color: black !important;
        }
    }
}
.edit-name{
    i{
        top: 30px;
        right: 15px;
        cursor: pointer;
    }
}
.user-image{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 95px;

    img{
        cursor: pointer;
    }
    &:hover .layer{
        bottom: 0;
    }
    .layer{
        position: absolute;
        bottom: -100%;
        left: 0;
        background-color: rgba($color: #000000, $alpha: .5);
        width: 100%;
        height: 35px;
        transition: all .5s ease-out;
    }
}
.edit-photo{
    background-color: rgba($color: #000000, $alpha: .5);
    .photo-form{
        padding: 15px;
        width: 700px;
    }
}
@media screen and (max-width:768px) {
    .user-info{
        text-align: center;
    }
    .user-image{
        height: 250px;
        margin-bottom: 20px;
    }
    .info-buttons button{
        width: 100% !important;
    }
}