
:root{
    --main-color:	#399BED;
    --second-color:#18100F;
    --tomato :#FE5F55; 
    --bg-color:	#FFFFFF;
}
h2,h3{
    line-height: 1.5 !important;
}
.bg-main{
    background-color: var(--main-color);
    color: var(--bg-color) !important;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    transition: all .5s ease;
}
.btn-main{
    background-color: var(--tomato);
    color: white !important;
    border-radius: 10px;
    padding: 7px;
    border: solid 2px transparent;
    transition: all .5s ease;
    &:hover{
        background-color: transparent;
        color: var(--tomato) !important;
        border: solid 2px var(--tomato);

    }
}
.btn-main:disabled{
    background-color: gray;
}
.btn-main,.btn-second{
    border-radius: 25px !important;
    text-align: center;
    padding: 15px 20px !important;
    font-size: 17px;
    font-weight: 400;
}

.custom-nav-link{
    text-decoration: none;
    color: var(--second-color);
    margin-right: 5px;
    font-size: 1.1em;
}
.btn-second{
    color: var(--bg-color);
    background-color: var(--main-color);
    padding: 7px;
    border: transparent solid 2px;
    transition: all .5s ease;
    &:hover{
        background-color: var(--second-color);
        color: white !important;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
